
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,700&display=swap');


@font-face {
    font-family: "Agoka";
    src: url(/fontes/AgokaFamily.otf);
}
@font-face {
    font-family: "Alstoria";
    src: url(/fontes/Alstoria.ttf);
}
@font-face {
    font-family: "LemonMilk";
    src: url(/fontes/lemon_milk/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: "Shorelines";
    src: url(/fontes/Shorelines\ Script\ Bold.otf);
}


:root{

    --amarelo-escuro: #d3a92e;
    --amarelo-claro: #ecdc66;
    --verde-escuro: #047461;
    --verde-claro: #6cab8c;
    --beige: #b7b395;

    --fonte1: "Agoka";
    --font-texto: "DM Sans"

}
