/*Fontes*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,700&display=swap');


@font-face {
    font-family: "Agoka";
    src: url(../fontes/AgokaFamily.otf);
}

@font-face {
    font-family: "Alstoria";
    src: url(../fontes/Alstoria.ttf);
}

@font-face {
    font-family: "LemonMilk";
    src: url(../fontes/lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: "Shorelines";
    src: url(../fontes/Shorelines\ Script\ Bold.otf);
}

/**/

/*Definição de variáveis*/

:root {
    --amarelo-escuro: #d3a92e;
    --amarelo-claro: #ecdc66;
    --verde-escuro: #047461;
    --verde-claro: #6cab8c;
    --beige: #b7b395;
    --light-beige: #f5f3e6;

    --fonte1: "Agoka";
    --fonte-texto: "DM Sans";
    --fonte-detalhes: "Shorelines";
    --fonte-upper: "LemonMilk";
    --fonte2: "Alstoria";


}

/**/

/*container*/

.container {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0%;
}

/*Navbar*/
.navbar {
    background-color: var(--light-beige);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}

/*links da nav*/

.links {
    width: 35%;
    height: 100%;
    font-family: var(--fonte-upper);
    color: var(--verde-escuro);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 3%;
}

/*icons*/

.icon-visivel {
    display: none;
}

.icon-invisivel {
    display: none;
}

.links a {
    font-size: 12px;
    text-decoration: none;
    color: var(--verde-escuro);
}

.links a:hover {
    color: var(--verde-claro);

}

/* titulo da nav*/

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 90%;
    width: 45%;
    height: 80%;
}

.p1 {
    font-family: var(--fonte-upper);
    color: var(--verde-claro);
    font-size: 160%;


}

.p2 {
    font-family: var(--fonte-detalhes);
    color: var(--amarelo-escuro);
    font-size: 130%;
    z-index: 1;
    -webkit-text-stroke: #d3a92e 1px;
}

.p3 {
    font-family: var(--fonte2);
    color: var(--verde-escuro);
    font-size: 450%;
    margin-top: 2%;
}

/*botoes da nav*/

.buttons {
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 80%;
    justify-content: flex-end;
    align-items: center;
    padding: 3%;
    gap: 5%;
}

.btn1 {
    width: 40px;
    height: 40px;
    background-color: var(--amarelo-claro);
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

.btn2 {
    width: 40px;
    height: 40px;
    background-color: var(--amarelo-claro);
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

.btn4 {
    width: 40px;
    height: 40px;
    background-color: var(--light-beige);
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

.btn3 {
    width: 80px;
    height: 40px;
    background-color: var(--amarelo-claro);
    color: white;
    border-radius: 17%;
    border: none;
    font-family: var(--fonte-texto);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*corpo do site*/
.main {
    display: flex;
    flex-wrap: wrap;

}

/*pagina principal*/
.pagina1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    margin-top: 2%;
    margin-bottom: 5%;

}

/*imagem da pagina principal*/
.pagina1 img {
    margin-top: 3%;
    width: 70%;
    margin-left: -8%;
    margin-right: -8%;
}

/*texto da pagina principal*/

.texto {
    height: 390px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.resumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-top: 3%;
}

.resumo h1 {
    font-family: var(--fonte-texto);
    font-size: 320%;
    color: var(--verde-claro);
    text-align: center;
    margin-bottom: 3%;
    line-height: 100%;
}

.resumo p {
    font-family: var(--fonte-texto);
    font-size: 15px;
    text-align: justify;
    line-height: 150%;
}

/*pagina 2 - links amazon*/
.pagina2 {
    display: flex;
    background-color: var(--light-beige);
    flex-direction: column;
    width: 100%;
    height: 400px;
    align-items: center;
    padding-top: 5%;
}

.pagina2 h2 {
    font-family: var(--fonte-upper);
    font-size: 270%;
    font-weight: 700;
    color: var(--amarelo-escuro);
    line-height: 80%;
    margin-bottom: 5%;
}

/*imagens e link*/

.livros-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    margin: 0;
    justify-content: space-around;
    align-items: center;
}

.livro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 20%;
}

.livro .texto-livro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
}

.texto-livro a {
    text-decoration: none;
    font-size: 100%;
    font-family: var(--fonte-texto);
    color: var(--verde-escuro);
    font-weight: 700;
    line-height: 80%;
    margin-top: 20px;
}


.texto-livro a:hover {
    color: var(--amarelo-escuro);
}

.texto-livro p {
    font-size: 80%;
    font-family: var(--fonte-texto);
}

.imagem-livro,
.imagem-livromenor,
.imagem-livromaior {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
}

.imagem-livro img {
    height: 150px;
}

.imagem-livromenor img {
    height: 130px;
}

.imagem-livromaior img {
    height: 170px;
}

/*footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 10%;
    background-color: var(--verde-claro);
}

footer h3 {
    font-family: var(--fonte-texto);
    color: #a2ceb8;
    font-size: 100%;

}


@media (max-width: 800px) {

    /*ajuste tamanho da nav*/

    .navbar {
        height: 100px;
    }

    /* aparecer o icone do menu e sumir as opcoes*/
    .icon-visivel {
        display: block;
        font-size: 40px;
        background-color: transparent;
        border: none;
        color: var(--verde-escuro);
        margin-left: 5%;
        cursor: pointer;
    }

    .icon-invisivel {
        display: none;
    }

    .icon-visivel:hover {
        color: var(--verde-claro);
    }

    .links {
        display: none;
    }

    .links-aberto a {
        display: block;
        position: relative;
        background-color: #f5f3e6;
        font-size: 15px;
        text-decoration: none;
        color: var(--verde-escuro);

    }

    .links-aberto a:hover {
        color: var(--verde-claro);

    }

    .links-aberto {
        display: flex;
        flex-direction: column;
        order: 1;
        background-color: #f5f3e698;
        margin-top: 70%;
        margin-right: 65%;
        position: relative;
        width: 30%;
        height: 250%;
        font-family: var(--fonte-upper);
        color: var(--verde-escuro);
        justify-content: center;
        align-items: center;
        font-weight: 700;
        padding: 3%;
        gap: 2%;
    }

    /*adaptar o tamanho do titulo*/

    .titulo {
        width: 80%;
        /* margin-right: -100%; */
        height: 100%;
        z-index: 1;
    }

    .p1 {
        font-size: 20px;
    }

    .p2 {
        font-size: 15px;
    }

    .p3 {
        font-size: 60px;
    }

    /*sumir os botoes de enfeite*/

    .buttons {
        display: none;
    }

    /*ajustar o tamanho da imagem e do resumo*/


    .texto {
        height: 140px;

    }

    /*ajuste scrollbar*/

    .texto::-webkit-scrollbar {
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: 5px;
    }

    .resumo {
        margin-right: 5%;
        margin-top: 4%;
    }

    .resumo h1 {
        font-size: 18px;
    }

    .resumo p {
        font-size: 10px;
    }

    /*ajuste da pagina 2 - links amazon*/

    .pagina2 {
        display: flex;
        height: 870px;
        padding-top: 10%;
    }

    .pagina2 h2 {
        font-size: 40px;
    }

    /*imagens e link*/

    .livros-container {
        display: flex;
        flex-direction: column;
        width: 83%;
        height: 400px;
        margin-top: 5%;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        padding-left: 7%;
    }

    .livro {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 90%;
        width: 100%;
        gap: 20px;
    }

    .livro .texto-livro {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        margin-left: 3%;
        flex-wrap: wrap;
    }

    .texto-livro a {
        font-size: 20px;
    }

    .texto-livro p {
        font-size: 13px;
        line-height: 150%;
    }


    .imagem-livro,
    .imagem-livromenor,
    .imagem-livromaior {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
    }

    .imagem-livro img {
        height: 100px;
    }

    .imagem-livromaior img {
        height: 120px;
    }

    .imagem-livromenor img {
        height: 90px;
    }

    /*ajuste footer*/

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        height: 10%;
        background-color: var(--verde-claro);
    }

    footer h3 {
        font-family: var(--fonte-texto);
        color: #a2ceb8;
        font-size: 6px;

    }
}

@media (min-width: 801px ) and (max-width: 1000px) {
    .buttons{
        display: none;
    }
    .navbar{
        height:100px;
    }

    .links{
        width: 50%;
    }

    .icon-invisivel{
        display: none;
    }

    .icon-visivel{
        display: none;
    }
    
}