/*Fontes*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,700&display=swap');


@font-face {
    font-family: "Agoka";
    src: url(../fontes/AgokaFamily.otf);
}

@font-face {
    font-family: "Alstoria";
    src: url(../fontes/Alstoria.ttf);
}

@font-face {
    font-family: "LemonMilk";
    src: url(../fontes/lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: "Shorelines";
    src: url(../fontes/Shorelines\ Script\ Bold.otf);
}

/**/

/*Definição de variáveis*/

:root {
    --amarelo-escuro: #d2a92d;
    --amarelo-claro: #ecdc66;
    --verde-escuro: #047461;
    --verde-claro: #6cab8c;
    --beige: #b7b395;
    --light-beige: #f5f3e6;

    --fonte1: "Agoka";
    --fonte-texto: "DM Sans";
    --fonte-detalhes: "Shorelines";
    --fonte-upper: "LemonMilk";
    --fonte2: "Alstoria";


}

/*animacoes*/

@keyframes slide-in {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0;
    }
}

* {
    margin: 0%;
    padding: 0;
}

/*container*/

.container {
    width: 100%;
    height: 100%;
}


/*Navbar*/
.navbar {
    background-color: var(--light-beige);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 100%;
}

/*icons*/

.icon-visivel {
    display: none;
}

.icon-invisivel {
    display: none;
}

/*links da nav*/

.links {
    width: 33%;
    height: 100px;
    font-family: var(--fonte-upper);
    color: var(--verde-escuro);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 3%;
}

.links a {
    text-decoration: none;
    color: var(--verde-escuro);
}

.links a:hover {
    color: var(--verde-claro);

}

/* titulo da nav*/

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 90%;
    width: 34%;
    height: 100px;
}

.p1 {
    font-family: var(--fonte-upper);
    color: var(--verde-claro);
    font-size: 25px;

}

.p2 {
    font-family: var(--fonte-detalhes);
    color: var(--amarelo-escuro);
    font-size: 23px;
    z-index: 1;
    -webkit-text-stroke: #d3a92e 1px;
}

.p3 {
    font-family: var(--fonte2);
    color: var(--verde-escuro);
    font-size: 70px;
    margin-top: 2%;
}

/*botoes da nav*/

.buttons {
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    padding: 3%;
    gap: 30px;
}

.btn1 {
    width: 40px;
    height: 40px;
    background-color: var(--amarelo-claro);
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.btn2 {
    width: 40px;
    height: 40px;
    background-color: var(--amarelo-claro);
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.btn4 {
    width: 40px;
    height: 40px;
    background-color: var(--light-beige);
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.btn3 {
    width: 80px;
    height: 40px;
    background-color: var(--amarelo-claro);
    color: white;
    border-radius: 17%;
    border: none;
    font-family: var(--fonte-texto);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*pagina main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*titulo*/


/*pagina inicio*/

.comeco {
    width: 100%;
    height: 532px;
    background-image: url(../imagens/fundo-alunos.png);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.delimitador {
    width: 27%;
    height: 20%;
    margin-bottom: 3%;
    background-color: none;
    overflow: hidden;
}

.comeco h1 {
    margin-bottom: 3%;
    background-color: #047461;
    color: white;
    font-family: var(--fonte-upper);
    font-size: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
    animation: slide-in 2s ease forwards;
}

/*container dos alunos*/

.aluno-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 310px;
    align-items: center;
    justify-content: center;
    background-color: var(--light-beige);
}

.imagem-aluno {
    width: 270px;
    height: 270px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.imagem-aluno:first-of-type {
    background-color: var(--amarelo-claro);
}

.imagem-aluno:last-of-type {
    background-color: var(--verde-escuro);
}

.imagem-aluno img {
    width: 250px;
    border-radius: 50%;
}

.texto-aluno {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 220px;
    justify-content: center;
}

.texto-aluno:first-of-type {
    background-color: var(--verde-escuro);
    margin-right: -5%;
    padding-right: 7%;
    padding-left: 5%;
}

.texto-aluno:last-of-type {
    background-color: var(--amarelo-claro);
    margin-left: -5%;
    padding-left: 7%;
    padding-right: 5%;
}

.texto-aluno h2 {
    font-size: 30px;
    font-family: var(--fonte-upper);
    color: white;
}

.texto-aluno p {
    margin-top: 2%;
    font-size: 20px;
    font-family: var(--fonte-texto);
    color: white;
}


/*footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 7%;
    background-color: var(--verde-claro);
}

footer h3 {
    font-family: var(--fonte-texto);
    color: #a2ceb8;
    font-size: 15px;
}



@media (max-width: 800px) {

    /*ajuste tamanho da nav*/

    .navbar {
        height: 100px;
    }

    /* aparecer o icone do menu e sumir as opcoes*/
    .icon-visivel {
        display: block;
        font-size: 40px;
        background-color: transparent;
        border: none;
        color: var(--verde-escuro);
        margin-left: 5%;
        cursor: pointer;
    }

    .icon-invisivel {
        display: none;
    }

    .icon-visivel:hover {
        color: var(--verde-claro);
    }

    .links {
        display: none;
    }

    .links-aberto a {
        display: block;
        position: relative;
        background-color: #f5f3e6;
        font-size: 15px;
        text-decoration: none;
        color: var(--verde-escuro);

    }

    .links-aberto a:hover {
        color: var(--verde-claro);

    }

    .links-aberto {
        display: flex;
        flex-direction: column;
        order: 1;
        background-color: #f5f3e698;
        margin-top: 70%;
        margin-right: 65%;
        position: relative;
        width: 30%;
        height: 250%;
        font-family: var(--fonte-upper);
        color: var(--verde-escuro);
        justify-content: center;
        align-items: center;
        font-weight: 700;
        padding: 3%;
        gap: 2%;
    }

    /*adaptar o tamanho do titulo*/

    .titulo {
        width: 80%;
        /* margin-right: -100%; */
        height: 100%;
        z-index: 1;
    }

    .p1 {
        font-size: 20px;
    }

    .p2 {
        font-size: 15px;
    }

    .p3 {
        font-size: 60px;
    }

    /*sumir os botoes de enfeite*/

    .buttons {
        display: none;
    }


    /*pagina inicio*/

    .comeco {
        width: 100%;
        height: 400px;
        background-image: url(../imagens/fundo-alunos.png);
        background-position: 5px ; 
        background-position-x: -85px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .delimitador {
        width: 65%;
        height: 20%;
        margin-bottom: 8%;
        background-color: none;
        overflow: hidden;
    }

    /*container dos alunos*/

    .aluno-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 200px;
        align-items: center;
        justify-content: center;
        background-color: var(--light-beige);
    }

    .imagem-aluno {
        width: 150px;
        height: 150px;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .imagem-aluno:first-of-type {
        background-color: var(--amarelo-claro);
    }

    .imagem-aluno:last-of-type {
        background-color: var(--verde-escuro);
    }

    .imagem-aluno img {
        width: 140px;
        border-radius: 50%;
    }

    .texto-aluno {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 110px;
        justify-content: center;
    }

    .texto-aluno:first-of-type {
        background-color: var(--verde-escuro);
        margin-right: -5%;
        padding-right: 7%;
        padding-left: 5%;
    }

    .texto-aluno:last-of-type {
        background-color: var(--amarelo-claro);
        margin-left: -5%;
        padding-left: 7%;
        padding-right: 5%;
    }

    .texto-aluno h2 {
        font-size: 15px;
        font-family: var(--fonte-upper);
        color: white;
    }

    .texto-aluno p {
        margin-top: 2%;
        font-size: 10px;
        font-family: var(--fonte-texto);
        color: white;
    }




    /*ajuste footer*/

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        height: 10%;
        background-color: var(--verde-claro);
    }

    footer h3 {
        font-family: var(--fonte-texto);
        color: #a2ceb8;
        font-size: 6px;

    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .buttons {
        display: none;
    }

    .navbar {
        height: 100px;
    }

    .links {
        width: 50%;
    }

    .icon-invisivel {
        display: none;
    }

    .icon-visivel {
        display: none;
    }

}